/*
!.gitignore

!/Components/
/Components/*

!/Components/hal
!/Components/keus
!/Components/mac
!/Components/mt
!/Components/osal
!/Components/stack
!/Components/zmac

!/Projects/
/Projects/*

!/Projects/zstack/
/Projects/zstack/*

!/Projects/zstack/ZMain/
/Projects/zstack/ZMain/*

!/Projects/zstack/ZMain/TI2530DB/
!/Projects/zstack/ZMain/TI2530ZNP/

# ZNP library
!/Projects/zstack/ZNP/
/Projects/zstack/ZNP/*

!/Projects/zstack/ZNP/Source/

!/Projects/zstack/ZNP/CC253x/
/Projects/zstack/ZNP/CC253x/*

!/Projects/zstack/ZNP/CC253x/Source/
!/Projects/zstack/ZNP/CC253x/znp.eww
!/Projects/zstack/ZNP/CC253x/CC2530.ewp
!/Projects/zstack/ZNP/CC253x/CC2530.ewd

# Home Automation Projects
!/Projects/zstack/HomeAutomation/
/Projects/zstack/HomeAutomation/*

# Embedded switch
!/Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/
/Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/*

!/Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/Source/

!Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/CC2530DB/
Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/CC2530DB/KeusEmbeddedSwitches.ewd
!Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/CC2530DB/KeusEmbeddedSwitches.ewp
!Projects/zstack/HomeAutomation/KeusEmbeddedSwitches/CC2530DB/KeusEmbeddedSwitches.eww

# Door sensor
!/Projects/zstack/HomeAutomation/KeusDoorSensor/
/Projects/zstack/HomeAutomation/KeusDoorSensor/*

!/Projects/zstack/HomeAutomation/KeusDoorSensor/Source/

!Projects/zstack/HomeAutomation/KeusDoorSensor/CC2530DB/
Projects/zstack/HomeAutomation/KeusDoorSensor/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusDoorSensor/CC2530DB/KeusDoorSensor.ewd
!Projects/zstack/HomeAutomation/KeusDoorSensor/CC2530DB/KeusDoorSensor.ewp
!Projects/zstack/HomeAutomation/KeusDoorSensor/CC2530DB/KeusDoorSensor.eww


# Curtain Controller
!/Projects/zstack/HomeAutomation/KeusCurtainController/
/Projects/zstack/HomeAutomation/KeusCurtainController/*

!/Projects/zstack/HomeAutomation/KeusCurtainController/Source/

!Projects/zstack/HomeAutomation/KeusCurtainController/CC2530DB/
Projects/zstack/HomeAutomation/KeusCurtainController/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusCurtainController/CC2530DB/KeusCurtainController.ewd
!Projects/zstack/HomeAutomation/KeusCurtainController/CC2530DB/KeusCurtainController.ewp
!Projects/zstack/HomeAutomation/KeusCurtainController/CC2530DB/KeusCurtainController.eww


# IR Blaster
!/Projects/zstack/HomeAutomation/KeusIRBlaster/
/Projects/zstack/HomeAutomation/KeusIRBlaster/*

!/Projects/zstack/HomeAutomation/KeusIRBlaster/Source/

!Projects/zstack/HomeAutomation/KeusIRBlaster/CC2530DB/
Projects/zstack/HomeAutomation/KeusIRBlaster/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusIRBlaster/CC2530DB/KeusIRBlaster.ewd
!Projects/zstack/HomeAutomation/KeusIRBlaster/CC2530DB/KeusIRBlaster.ewp
!Projects/zstack/HomeAutomation/KeusIRBlaster/CC2530DB/KeusIRBlaster.eww


# RGB Driver
!/Projects/zstack/HomeAutomation/KeusRGBDriver/
/Projects/zstack/HomeAutomation/KeusRGBDriver/*

!/Projects/zstack/HomeAutomation/KeusRGBDriver/Source/

!Projects/zstack/HomeAutomation/KeusRGBDriver/CC2530DB/
Projects/zstack/HomeAutomation/KeusRGBDriver/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusRGBDriver/CC2530DB/KeusRGBDriver.ewd
!Projects/zstack/HomeAutomation/KeusRGBDriver/CC2530DB/KeusRGBDriver.ewp
!Projects/zstack/HomeAutomation/KeusRGBDriver/CC2530DB/KeusRGBDriver.eww

# Theme Switch
!/Projects/zstack/HomeAutomation/KeusThemeSwitch/
/Projects/zstack/HomeAutomation/KeusThemeSwitch/*

!/Projects/zstack/HomeAutomation/KeusThemeSwitch/Source/

!Projects/zstack/HomeAutomation/KeusThemeSwitch/CC2530DB/
Projects/zstack/HomeAutomation/KeusThemeSwitch/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusThemeSwitch/CC2530DB/KeusThemeSwitch.ewd
!Projects/zstack/HomeAutomation/KeusThemeSwitch/CC2530DB/KeusThemeSwitch.ewp
!Projects/zstack/HomeAutomation/KeusThemeSwitch/CC2530DB/KeusThemeSwitch.eww

# Theme Switch Mini
!/Projects/zstack/HomeAutomation/KeusThemeSwitchMini/
/Projects/zstack/HomeAutomation/KeusThemeSwitchMini/*

!/Projects/zstack/HomeAutomation/KeusThemeSwitchMini/Source/

!Projects/zstack/HomeAutomation/KeusThemeSwitchMini/CC2530DB/
Projects/zstack/HomeAutomation/KeusThemeSwitchMini/CC2530DB/*

!Projects/zstack/HomeAutomation/KeusThemeSwitchMini/CC2530DB/KeusThemeSwitchMini.ewd
!Projects/zstack/HomeAutomation/KeusThemeSwitchMini/CC2530DB/KeusThemeSwitchMini.ewp
!Projects/zstack/HomeAutomation/KeusThemeSwitchMini/CC2530DB/KeusThemeSwitchMini.eww


# zr Keus Curtain
!/Projects/zstack/HomeAutomation/zr_KeusCurtain/
/Projects/zstack/HomeAutomation/zr_KeusCurtain/*

!/Projects/zstack/HomeAutomation/zr_KeusCurtain/Source/

!Projects/zstack/HomeAutomation/zr_KeusCurtain/CC2530DB/
Projects/zstack/HomeAutomation/zr_KeusCurtain/CC2530DB/*

!Projects/zstack/HomeAutomation/zr_KeusCurtain/CC2530DB/KeusEmbeddedSwitches.ewd
!Projects/zstack/HomeAutomation/zr_KeusCurtain/CC2530DB/KeusEmbeddedSwitches.ewp
!Projects/zstack/HomeAutomation/zr_KeusCurtain/CC2530DB/KeusEmbeddedSwitches.eww


